body {
  background-color: lightgray;
}

.wrapper {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  border: 1px solid gray;
  padding: 10px 20px;
  text-align: center;
  height: 100vh;
  padding-bottom: 50px;

}

.top3 {
  display: flex;
  flex-direction: row;
}

.topBox {
  background-color: red;
  flex:1;
  height: 100px;
  margin: 0 10px;
}

.topBox:first-child {
  background: green;
}

.topBox:nth-child(2) {
  background: #343434;
}

.mainCont {
  width: 100%;
  height: 300px;
  background: darkcyan;
}

.mainLeft {
  height: 100%;
  width: 25%;
  background-color: orange;
}

.bottomCont {
  width: 100%;
  height: 150px;
  background-color: blue;
  float: left;
  margin: auto;
}

.bottomRight {
  width: 35%;
  height: 100%;
  background-color: red;
  float: right;
}
